/* OneTrust Cookie custom styles */
 @media (min-width: 600px) {
	 #onetrust-button-group {
		 display: flex !important;
		 justify-content: space-between !important;
	}
}
 @media (min-width: 600px) {
	 #onetrust-button-group .banner-actions-container {
		 display: flex !important;
		 flex-direction: row-reverse !important;
	}
}
 @media (min-width: 600px) {
	 #onetrust-button-group button {
		 margin-right: 12px !important;
	}
}
 #onetrust-pc-btn-handler, #onetrust-reject-all-handler, #onetrust-accept-btn-handler, .ot-pc-refuse-all-handler, .save-preference-btn-handler, #accept-recommended-btn-handler {
	 border-radius: 60px !important;
	 font-size: 12px !important;
	 font-weight: 600 !important;
	 transition: 0.2s;
	 min-width: 0 !important;
	 letter-spacing: normal;
}
 #onetrust-reject-all-handler, .ot-pc-refuse-all-handler {
	 border: 1px solid #e0dbe1 !important;
	 color: #2d0f37 !important;
	 background-color: transparent !important;
	 padding: 10px 24px !important;
}
 #onetrust-reject-all-handler:hover, .ot-pc-refuse-all-handler:hover, #onetrust-reject-all-handler:focus, .ot-pc-refuse-all-handler:focus {
	 border-color: #fcb069 !important;
	 background-color: #fcb069 !important;
	 opacity: 1 !important;
}
 #onetrust-accept-btn-handler, .save-preference-btn-handler, #accept-recommended-btn-handler {
	 background: #2d0f37 !important;
	 border: 1px solid #2d0f37 !important;
	 color: #fcb069 !important;
	 padding: 10px 24px !important;
}
 #onetrust-accept-btn-handler:hover, .save-preference-btn-handler:hover, #accept-recommended-btn-handler:hover, #onetrust-accept-btn-handler:focus, .save-preference-btn-handler:focus, #accept-recommended-btn-handler:focus {
	 border-color: #fcb069 !important;
	 background-color: #fcb069 !important;
	 color: #2d0f37 !important;
	 opacity: 1 !important;
}
 #onetrust-pc-btn-handler {
	 border: none !important;
	 color: #2d0f37 !important;
	 background-color: transparent !important;
	 padding: 10px 0 !important;
}
 #onetrust-pc-btn-handler:hover, #onetrust-pc-btn-handler:focus {
	 color: #e39e5f !important;
	 opacity: 1 !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk div.ot-always-active {
	 color: #fcb069 !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk .category-menu-switch-handler h3 {
	 transition: 0.2s;
}
 #onetrust-consent-sdk #onetrust-pc-sdk .category-menu-switch-handler:hover h3 {
	 color: #fcb069;
}
 #onetrust-consent-sdk #onetrust-pc-sdk, #onetrust-consent-sdk #onetrust-banner-sdk {
	 border-radius: 16px !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk p, #onetrust-consent-sdk #onetrust-banner-sdk p {
	 color: #2d0c2d !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk *:focus, #onetrust-consent-sdk #onetrust-banner-sdk *:focus {
	 outline: none !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk:focus, #onetrust-consent-sdk #onetrust-banner-sdk:focus {
	 outline: none !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk .privacy-notice-link {
	 color: #2d0f37 !important;
	 text-decoration: underline !important;
	 transition: 0.2s;
}
 #onetrust-consent-sdk #onetrust-pc-sdk .privacy-notice-link:hover {
	 color: #e39e5f !important;
	 text-decoration: underline !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk .ot-active-menu {
	 border-color: #fcb069 !important;
}
 #onetrust-consent-sdk #onetrust-banner-sdk {
	 box-shadow: none !important;
	 background-color: #f5f3f5 !important;
}
 @media (min-width: 600px) {
	 #onetrust-consent-sdk #onetrust-banner-sdk.otCenterRounded {
		 top: auto !important;
		 bottom: 24px !important;
	}
}
 #onetrust-consent-sdk #onetrust-banner-sdk #onetrust-policy-text {
	 font-size: 14px !important;
	 line-height: 24px !important;
}
 #onetrust-consent-sdk #onetrust-banner-sdk a[href] {
	 color: #2d0f37 !important;
	 text-decoration: underline !important;
	 transition: 0.2s;
	 font-weight: 400 !important;
}
 #onetrust-consent-sdk #onetrust-banner-sdk a[href]:hover {
	 color: #e39e5f !important;
	 text-decoration: underline !important;
}
 #onetrust-consent-sdk #onetrust-banner-sdk.ot-bnr-w-logo #onetrust-policy {
	 margin-top: 30px !important;
}
 #onetrust-consent-sdk #onetrust-banner-sdk.ot-bnr-w-logo .ot-bnr-logo {
	 margin-left: 0.875rem !important;
}
 @media (min-width: 601px) {
	 #onetrust-consent-sdk #onetrust-banner-sdk.ot-bnr-w-logo .ot-bnr-logo {
		 margin-left: 1.375rem !important;
	}
}
 @media (min-width: 600px) {
	 #onetrust-consent-sdk #onetrust-banner-sdk.ot-bnr-w-logo .ot-bnr-logo {
		 margin-left: 1.5rem !important;
	}
}
 #onetrust-consent-sdk .ot-bnr-logo {
	 display: none !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk {
	 overflow: hidden !important;
	 background: #f9f8f9 !important;
	 box-shadow: 0px 8px 12px rgba(45, 12, 45, 0.05), 0px -2px 4px rgba(45, 12, 45, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.05) !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-footer-logo {
	 display: none !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk .save-preference-btn-handler, #onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-refuse-all-handler, #onetrust-consent-sdk #onetrust-pc-sdk #accept-recommended-btn-handler {
	 border-radius: 1.38rem !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk .ot-always-active {
	 color: #ee725b !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk .ot-sdk-container {
	 border-radius: 0 !important;
}
 #onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-desc br {
	 display: none;
}
/* OneTrust Cookie settings button */
 .footer-ot-cookie-settings-btn .ot-sdk-show-settings, .legal-page .ot-sdk-show-settings {
	 border: none !important;
	 padding: 0 !important;
}
 .footer-ot-cookie-settings-btn .ot-sdk-show-settings:hover, .legal-page .ot-sdk-show-settings:hover {
	 background-color: transparent !important;
}
 .legal-page .ot-sdk-show-settings {
	 color: #ee725b !important;
	 font-size: inherit !important;
}
 .legal-page .ot-sdk-show-settings:hover {
	 color: #ee725b !important;
}
/* Cookie list */
 #ot-sdk-cookie-policy .ot-sdk-cookie-policy.ot-sdk-container {
	 box-shadow: none !important;
}
 #ot-sdk-cookie-policy .ot-sdk-cookie-policy.ot-sdk-container * {
	 color: #2d0c2d !important;
}
 #ot-sdk-cookie-policy .ot-sdk-cookie-policy.ot-sdk-container a {
	 text-decoration: none !important;
	 background-color: transparent !important;
	 color: #ee725b !important;
}
 #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy #cookie-policy-title, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy .ot-sdk-cookie-policy-group, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy #cookie-policy-description, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy h5, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy h6, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy li, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy p {
	 font-size: 1.25rem !important;
}
 @media only screen and (min-width: 768px) {
	 #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy #cookie-policy-title, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy .ot-sdk-cookie-policy-group, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy #cookie-policy-description, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy h5, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy h6, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy li, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy p {
		 font-size: 1.25rem !important;
		 line-height: 2rem !important;
	}
}
 #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy a, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy span, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy td {
	 font-size: 0.9rem !important;
}
 @media only screen and (min-width: 768px) {
	 #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy a, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy span, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy td {
		 font-size: 1.25rem !important;
		 line-height: 2rem !important;
	}
}
 @media only screen and (max-width: 720px) {
	 #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy table, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy thead, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy tbody, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy th, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy td, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy tr {
		 display: block !important;
	}
}
 @media only screen and (min-width: 720px) {
	 #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy th, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy td {
		 max-width: 200px;
	}
}
 #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy table .ot-host, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy table .ot-cookies-type {
	 width: auto !important;
}
 @media only screen and (min-width: 720px) {
	 #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy table .ot-host, #ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy table .ot-cookies-type {
		 width: 25% !important;
	}
}
 @media only screen and (min-width: 400px) {
	 #onetrust-banner-sdk .ot-sdk-container, #onetrust-pc-sdk .ot-sdk-container, #ot-sdk-cookie-policy .ot-sdk-container {
		 width: 100% !important;
	}
}
 .cookie-page a {
	 display: inline-block;
	 word-wrap: break-word;
	 max-width: 100% !important;
}
 .cookie-page table .ot-host-td {
	 word-wrap: break-word !important;
}
 